
.navbar{
   width: 100%;
   height: 70px;
   display: flex;
}
.search_main{
   position: absolute;
   left:200px;
   width: 40%;
   display:flex;
}
.searchbox{
   width: 500px;
}
.account{
   position: absolute;
   right:70px;
}
.post{
   position: absolute;
   right:200px;
}
.Product-form form{
   background-color: var(--white);
   padding: 2rem;
   box-shadow: var(--box-shodow);
   border: 3px solid black;
}

.Product-form form h3{
   font-size: 3rem;
   text-align: center;
   padding-bottom: 1rem;
   color: var(--black);
   text-transform: capitalize;
}

.Product-form form .flex{
   display: flex;
   flex-wrap: wrap;
   column-gap: 1.5rem;
   justify-content: space-between;
   align-items: flex-end;
}

.Product-form form .box{
   flex: 1 1 40rem;
}

.Product-form form .box .input{
   width: 100%;
   margin: 1rem 0;
   padding: 1rem;
   font-size: 1rem;
}
.Product-form form .box .input_img{
   width: 40%;
   margin: 1rem 0;
   padding: 1rem;
   font-size: 1rem;
   border: 1px solid black;
}

.Product-form form textarea{
   height: 20rem;
   resize: none;
}

.Product-form form .box .input option[selected]{
   background-color: var(--black);
   color: var(--white);
}

.Product-form form .box p{
   font-size: 1rem;
   color: var(--light-color);
   padding-top: 1px;
   padding-bottom: 1px;
}

.Product-form form .box p span{
   color: red;

}
.my-listings .heading{
   font-family: "Times New Roman", Times, serif;
}
.my-listings .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.my-listings .box-container .box{
   text-align: justify;
   background-color: #ddd;
   padding: 2rem;
   overflow-x: hidden;
   font-family: "Times New Roman", Times, serif;
}

.my-listings .box-container .box .thumb{
  position: relative;
  height: 20rem;
  margin-bottom: 1.5rem;
}

.my-listings .box-container .box .thumb img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.my-listings .box-container .box .thumb p{
  position: absolute;
  top: 1rem; left: 1rem;
  background-color: rgba(0,0,0,.3);
  color: var(--white);
  padding:.5rem 1rem;
  font-size: 1.7rem;
}

.my-listings .box-container .box .thumb p i{
  margin-right: .7rem;
}

.my-listings .box-container .box .price{
  font-size: 2rem;
  color: var(--main-color);
}

.my-listings .box-container .box .price i{
  margin-right: 1rem;
}

.my-listings .box-container .box .name{
  font-size: 2rem;
  color: var(--black);
  line-height: 1.5;
  padding: .5rem 0;
  text-overflow: ellipsis;
}

.my-listings .box-container .box .location{
  padding-bottom: .5rem;
  font-size: 1.7rem;
  color: var(--light-color);
}

.my-listings .box-container .box .location i{
  margin-right: 1rem;
  color: var(--main-color);
}
